/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@media only screen and (min-width: 601px) {
  body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
}